$huge-font-size:48px;
$large-font-size:32px;
$medium-font-size:24px;
$strong-font-size:18px;
$normal-font-size:12px;
$small-font-size:10px;

$header-height:80px;
$nav-btn-height:24px;
$nav-btn-vpad:8px;
$main-color:#09BB07;

html {
    font-size:12px;
}

h1 {
    font-size:$huge-font-size;
}

h2 {
    font-size:$large-font-size;
}

h3 {
    font-size:$medium-font-size;
}

.left {
    float:left;
}

.right {
    float:right;
}

.text-center {
    text-align:center;
}

.container {
    margin:0 auto;
    width:1000px;
    padding-left:15px;
    padding-right:15px;
}

.row {
    margin-left:-15px;
    margin-right:-15px;
}

.badge {
    display:inline-block;
    padding:4px 8px;
    border-radius:4px;
    background-color:$main-color;
    color:white;
    font-size:$small-font-size;
    font-weight:bold;
}

#header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:$header-height;
    background-color:$main-color;
    box-shadow:0 4px 8px 0 rgba(7, 17, 27, 0.3);

    #logo {
        float:left;
        display:block;
        line-height:$header-height;
        color:white;
        font-size:$large-font-size;
    }

    #nav {
        ul {
            float:right;
            margin:($header-height - $nav-btn-height - $nav-btn-vpad * 2) / 2;
            overflow:hidden;
            li {
                display:inline-block;
                padding:$nav-btn-vpad;


                a {
                    color:white;
                    text-decoration:none;
                    line-height:$nav-btn-height;
                }

                a:hover {
                    color:#eee;
                }

                &.active {
                    border-radius:8px;
                    border:1px solid white;
                }
            }



        }
    }
}

#main {
    margin-top:$header-height;
    #about {
        background-color:#ccc;
        padding:10px 15px;
        #intro {
            width:700px;
            p {
                text-indent:2em;
                font-size:$strong-font-size;
            }
            #category {
                margin-top:16px;
            }
        }
        #creator {
            overflow:hidden;
            .avatar {
                display:block;
                max-width:250px;
                border-radius:50%;
                margin:10px auto;
            }
        }
    }
}

